{% extends "base.html" %}
{% block title %}{{ name }}{% endblock %}
{% block body %}
  <div class='container'>
    <div class='singleTeam text-center'>
      <h1>Welcome to {{ name }}</h1>
      <p>We shake {{ team.city}}. We are in {{ number }} already.</p>
      <p>You can join us only if you don't belong elsewhere.</p>
      <h2>Our Members</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
        {% for member in members %}
          <tr>
            <td>{{ member.name }}</td> 
            <td>{{ member.email }}</td>
          </tr>
        {% endfor %}
      </table>
      {% if number < 4 and eligibile.team_id == None %}
        <a href='/teams/{{ name }}/join'>Join</a>
      {% endif %}
      {% if eligibile.team_id == team.t_id %}
        <a href='/teams/{{ name }}/leave'>Sign out of {{ name }}</a>
      {% endif %}
      <a href='/teams'>Return to Teams</a>
      <a href="{{url_for('auth.logout')}}">LogOut</a>
    </div>
  </div>
{% endblock %}




  